<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Reviews</h2>
                    <h3 class="section-subheading text-muted">What others think about our services</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>"Best closer in the Ark-La-Tex. Great customer service - you won't find any procrastinators here. These folks go to work the day you make the call and make sure everything is completely in order so you can close on time" - Debra Lindsey, Realtor, CME SPARTAN REALTY</p>
                    <p>"I Love Main Street Title. They know how to get the job done and I do not have to worry about a thin! They have a very nice office and a very good location. My buyers and sellers always say what a good experience they had there and will use them again! If you want great service and a job well done go to Main Street Title.....Thanks Main Street!" - Patsy Maggio, Realty Executives</p>
                </div>
            </div>
        </div>
    </section>
